/* Stylesheet for my recipes page */

/* the entire webpage */
* {
    background-color: #fcffef;
    font-family: Georgia, 'Trebuchet MS', serif;
    /* outline: 2px solid red; */
    
}

/* all the headers */
.headers {
    color: #4d3319;
    font-size: 18px;
}

/* the title header specifically for each page */
#h1 {
    font-size: 36px;
    text-align: center;
}

/* italicized text categorizing recipe items */
em {
    font-weight: bold;
}

#subtitle {
    text-align: center;
}

.recipes-list {
    display: flex;
}

.recipes-list .recipe-item {
    padding: 20px;
    text-align: center;
}
