/* Stylesheet for my recipes page */

html {
    background-color: #fcffef;
    font-family: Georgia, 'Trebuchet MS', serif;
}

.headers {
    color: #4d3319;
    font-size: 18px;
}

#h1 {
    font-size: 36px;
}

em {
    font-weight: bold;
}

